.heading--h1 {
  margin-top: 0;
  font-family: "Roboto-Condensed";
  font-weight: 600;
  font-size: 26px;
}

.heading--h2 {
  margin-top: 0;
  font-family: "Roboto-Condensed";
  font-weight: 600;
  line-height: 1;
}

.heading--news {
  font-family: "Roboto-Condensed";
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
}

.heading--h2-text {
  font-size: 18px;
}

.heading--h2-inner {
  margin-bottom: 0;
  color: $grey;
}
