.solaris {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid red;
  transform: rotate(-90deg);
  display: none;

  &::after,
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: red;
  }

  &::after {}

  &::before {}
}
