@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin a-reset {
  text-decoration: none;
  color: inherit;
}
@mixin button-reset {
  background-color: transparent;
  border: 0;
  padding: 0;
}
@mixin border-radius {
  border-radius: 4px;
}
@mixin border-bottom {
  border-bottom: 2px solid #f0f0f0;
}
@mixin horizontal-swipe {
  @include list-reset;
  display: flex;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 12px;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
  }

  &::after {
    content: "";
    display: block;
    padding-right: 8px;
    width: 1px;
  }
}
@mixin lazy-keyframes {
  @keyframes lazy {
    0% {
      background-color: rgba(165,165,165,.1);
    }

    50% {
      background-color: rgba(165,165,165,.3);
    }

    100% {
      background-color: rgba(165,165,165,.1);
    }
  }
}
@mixin lazy-animation {
  animation: lazy 1s ease-in-out;
  animation-iteration-count: 4;
}
@mixin shadow {
  box-shadow: 0 1px 11px 0 rgba(65,78,91,.3);
}
@mixin shadow-fade {
  box-shadow: 0 1px 45px -12px rgba(0,0,0,0.6);
}
@mixin overlay {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: $black;
    border-radius: 4px;
    transition: 0.3s all;
    z-index: 50;
  }
}
