$blue: #004996;
$light-blue: #2A6CB2;
$lightest-blue: #16579F;
$fade-blue: #F2F6FA;
$yellow: #FCBF00;
$pink: #E62644;
$black: #25241F;
$light-grey: #F0F0F0;
$grey: #B9B9B9;
$gold: #A16F40;
$gold-faded: #ad9075;
$background: #F0F0F0;
$green: #6FE69A;

$transition: all 0.3s;

$border-radius: 6px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$iphone-five-only: 320px;
$tablet-width-only: 1199px;
